body{
    background-color: #99aa97;
}
header{
    background-color: #f9f5e6;
    border-bottom: 5px ridge #587c7e;
}
main{
    background-color: #99aa97;
}
.recipeButton {
    background-color: #694429;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #555555;
    margin: 35px;
    padding: 10px;
    display: block;
    float: left;
    height: 200px;
    width: 300px;
    text-align: center;
}
#snykrmContent {
    padding: 25px;
}
footer{
    background-color: #f9f5e6;
    border-top: 5px groove #587c7e;
    text-align: center;
}
.container{
    background-color: #99aa97;
}

