body{
    background-color: #00ffff;
}
header{
    background-color: #cc2222;
}
main{
    background-color: #00008b;
}
footer{
    background-color: #440044
}
.container{
    background-color: #336655
}